@model Dealer.Ubicacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ubicacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Automovil.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Automovil.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sucursal.Latitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sucursal.Latitud)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Ubicacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
