@model IEnumerable<Dealer.Ubicacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Automovil.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sucursal.Latitud)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Automovil.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sucursal.Latitud)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Ubicacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Ubicacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Ubicacion })
        </td>
    </tr>
}

</table>
