@model IEnumerable<Dealer.Automovil>

@{
    ViewBag.Title = "Index2";
}
<style type="text/css">.call { }</style>
<script src="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")" type="text/javascript"></script>
<h2>Index2</h2>


@using (Html.BeginForm())
{
    <p>
        @using (Html.BeginForm("Index2", "Automoviles"))
        {
            <div class="edit-field">
                Marca 
                @Html.DropDownList("ID_Marca", null, "", htmlAttributes: new { @class = "form-control", id = "force1", @name = "searchString2", @data_placeholder = "whatever" })
                Modelo 
                @Html.TextBox("searchString")
                Tipo de moneda 
                @Html.TextBox("searchString1")
                <input type="text" name="searchString2" id="primero" class="hidden">
                <input type="text" name="searchString3" id="segundo" class="hidden">
                <input type="text" name="searchString4" id="tercero" class="hidden">
                @Html.DropDownList("ID_Tipo", null, "", htmlAttributes: new {@class = "form-control", id = "force2", @name = "searchString3"})
                Tipo de Transmision
                @Html.DropDownList("ID_TipoTrans", null, "", htmlAttributes: new { @class = "form-control", id = "force4", @name = "searchString7" })
                Cantidad de Pasajeros
                @Html.DropDownList("ID_CantPasajeros", null, "", htmlAttributes: new {@class = "form-control", id = "force3", @name = "searchString4"})
                Año
                @Html.DropDownList("SearchString5", Enumerable.Range(1940,DateTime.Now.Year - 1940 + 1).Select(i => new SelectListItem {Text = i.ToString(), Value = i.ToString()}), "Please select year", new {@class = "form-control"})
                Precio @Html.TextBox("SearchString6")
                <input type="text" name="searchString7" id="cuarto" class="hidden">
                
            </div>
            <script>$(document).ready(function () {
                    $("#mandar").click(function() {
                        var h = $('#force1 option:selected').text();
                        var r = $('#force2 option:selected').text();
                        var q = $('#force3 option:selected').text();
                        var z = $('#force4 option:selected').text();

                        $('#primero').val(h);
                        $('#segundo').val(r);
                        $('#tercero').val(q);
                        $('#cuarto').val(z);
                    });
                    $(".call").click(function () {
                        $.ajax({
                            url:'@Url.Action("Agregar", "Automoviles")',
                            data: {ID:this.id},
                            error: function (request, error) {
                                console.log(arguments);
                                alert(" Can't do because: " + error);
                            },
                            sucess: function () {
                                alert("Value Added");  // or any other indication if you want to show
                            }
                        });
                    });
                });
            </script>
            <div class="col-md-10">
            <button type="submit" value="Search" id="mandar">Buscar</button>
            </div>
        }
        
        <!--Find by name: 
        <input type="submit" value="Search"/>-->
    </p>
}
<!--Table with bootstrap class .table and .table-condensed-->
<table class="table table-condensed"></table>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Año_Fabricacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo_Moneda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cant_Pasajeros.ID_CanPasajeros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca.Marca1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo_Automovil.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo_Trans.Tipo_Trans1)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Año_Fabricacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo_Moneda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cant_Pasajeros.ID_CanPasajeros)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca.Marca1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo_Automovil.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo_Trans.Tipo_Trans1)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID_Auto })
                    <button class="btn btn-primary" id="@item.ID_Auto">Agregar a Guardados</button>
                </td>
            </tr>
        }

    </table>
