@model IEnumerable<Dealer.Detalle>

@{
    ViewBag.Title = "Detalle de los Autos";
}

<h2>Detalles</h2>
<style>
    .hidden{
        display:none;
    }
</style>
<script>
    $(document).ready(function () {
        if ('@User.IsInRole("Administrator")' === "True") {
            $(".admin").removeClass("hidden");
        }
    });
    </script>

<p>
    @Html.ActionLink("Create New", "Create", null,new { @class= "hidden admin" } )
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Condicion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Automovil.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Automovil1.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sucursal.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Condicion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detalles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Automovil.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Automovil1.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sucursal.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Condicion}, new { @class = "hidden admin" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Condicion }, new { @class = "hidden admin" })
        </td>
    </tr>
}

</table>
