@model Dealer.Condicion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Condicion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Condicion1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condicion1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Automovil.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Automovil.Modelo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Condicion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
